
<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-md-12">
            <h5>Tem certeza que deseja apagar esse cadastro?</h5>
        </div>
    </div>




<div class="card mx-auto mt-5" style="width: 20rem;">
    <div class="card-body">
        
        <div class="card-title "><b>Nome:</b>  {{usuario.nome}} </div>

       

        <div class="card-title"><b>E-mail:</b> {{usuario.email}}</div>
            
    
    </div>

</div>




    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
        <button class="btn btn-outline-danger " (click)="btnNao()">Não</button>
    </div>


</div>


