body {
    font-family: 'Work Sans', sans-serif;
    /* background-image: linear-gradient(to right,rgb(252, 71, 110),rgb(238, 211, 215) ); */
}

nav {
    background-color: rgb(78, 78, 78);
}

h1 {
    text-align: center;
    background-image: url(../assets/img/sobre-background.jpg);
    color: black;
}

#Footer {
    background-color: rgba(0, 0, 0, 0.938);
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    text-align: center;
}

#botao {
    background-color: rgb(252, 71, 110);
}

#btBox {
    background-color: rgb(252, 71, 110);
    color: white;
    margin-right: 10px;
}

#btBox:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: rgb(241, 113, 141);
    transition: ease-in-out color .15s;
    color: white;
    text-decoration: none;
}

.faq {
    /* background-image: linear-gradient(to right,rgb(241, 133, 156),rgb(238, 211, 215) ); */
    /* -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
    background-color: rgba(0, 0, 0, 0.041);
}

.faq button {
    color: rgb(252, 71, 110);
}

.faixa-faq {
    width: 100%;
    background-color: rgb(228, 144, 144);
}

.foto>.front {
    margin: 20px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.container-projeto {
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
}

.container-projeto>p {
    text-align: justify;
}

.icones-sobre>img {
    margin: 0px 0px 0px 90px;
    width: 170px;
    height: 170px;
}

.icone-visao>img {
    margin: 0px 0px 0px 100px;
    width: 120px;
    height: 120px;
}

.icone-visao>p {
    text-align: justify;
    width: 285px;
    margin: 35px;
}

.icones-sobre>p {
    text-align: justify;
    width: 285px;
    margin: 35px;
}

.caixa {
    max-width: 100%;
    perspective: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
}

.container>form {
    width: 300px;
    text-align: center;
}

.iframe>h4,
p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.container-faq {
    width: 50%;
    margin: 0 auto;
}

.icone {
    margin: 0px auto;
    padding: 35px;
    width: 88px;
}

.icones-footer {
    text-align: center;
}

.flip-container {
    width: 250px;
    height: 250px;
    margin: 0px 70px 15px 5px;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2); */
    border-radius: 150px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    color: rgb(0, 0, 0);
    background-color: rgb(240, 180, 193);
}

.back>p {
    font-size: 14px;
    text-align: center;
    margin-top: 55px;
    margin-right: 25px;
    margin-left: 25px;
}

@media (max-width: 768px) {
    .iframe {
        padding-top: 20px;
    }
    .container,
    .iframe,
    form {
        margin: 0 auto;
    }
    .row {
        justify-content: center;
    }
}