hr {
    background-color:  rgb(228, 108, 108);
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
button{
    color: white;
    background-color: rgba(228, 90, 90, 0.637);
    border: 1px solid bisque;
}
button:hover{
    color: white;
    background-color:  rgb(228, 108, 108);
}
#cadastroUsuario{
    
    background-image: linear-gradient( to right, rgba(228, 108, 108, 0.434) 25%, rgba(226, 152, 118, 0.434), rgba(240, 212, 120, 0.434) );
}