<div class="container-fluid" id="cadastroUsuario">
    <div class="container mx-auto">
        <h2 class="pt-5 pb-2 text-black d-flex justify-content-center">Cadastro</h2>
        <hr class="mx-auto col-9 col-md-4 col-lg-3 " />
        <hr class="mx-auto col-9 col-md-4 col-lg-3" />
        <hr class="mx-auto col-9 col-md-4 col-lg-3" />
    </div>

    <div class="row py-5">
   
        <div class="col-md-3"></div>
        <div class="container-fluid col-md-6 bg-white py-3 shadow">

            <form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" formControlName="nome" class="form-control" placeholder="Insira o nome" required minlength="2" maxlength="50" [(ngModel)]="usuario.nome" />
                    <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">O campo nome deve ter entre 2 e 50 caracteres.</div>
                </div>

                <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" formControlName="sobrenome" class="form-control" placeholder="Insira o sobrenome" required minlength="2" maxlength="60" [(ngModel)]="usuario.sobrenome" />
                    <div *ngIf="!sobrenome.valid && sobrenome.touched" class="alert alert-danger" role="alert">O campo sobrenome deve ter entre 2 e 60 caracteres.</div>
                </div>

                <div class=" form-group ">
                    <label>CPF</label>
                    <input type="text" formControlName="cpf" class="form-control" placeholder="Insira o CPF sem caracteres especiais ( - , * ). " required minlength="11" maxlength="11" [(ngModel)]="usuario.cpf " />
                    <div *ngIf="!cpf.valid && cpf.touched" class="alert alert-danger" role="alert">O campo cpf deve ter 11 digítos.</div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Logradouro</label>
                        <input type="text" formControlName="logradouro" class="form-control" placeholder="Insira o logradouro " required minlength="5" maxlength="120" [(ngModel)]="usuario.logradouro " />
                        <div *ngIf="!logradouro.valid && logradouro.touched" class="alert alert-danger" role="alert">O campo logradouro deve ter entre 5 e 120 caracteres.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Complemento</label>
                        <input type="text " formControlName="complemento" class="form-control" placeholder="Insira o complemento " required minlength="3" maxlength="60" [(ngModel)]="usuario.complemento " />
                        <div *ngIf="!complemento.valid && complemento.touched" class="alert alert-danger" role="alert">O campo complemento deve ter entre 3 e 60 caracteres.</div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Bairro</label>
                        <input type="text" formControlName="bairro" class="form-control" placeholder="Insira o bairro " required minlength="2" maxlength="60" [(ngModel)]="usuario.bairro " />
                        <div *ngIf="!bairro.valid && bairro.touched" class="alert alert-danger" role="alert">O campo bairro deve ter entre 2 e 60 caracteres.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>CEP</label>
                        <input type="text" formControlName="cep" class="form-control" placeholder="Insira o CEP " required minlength="8" maxlength="8" [(ngModel)]="usuario.cep " />
                        <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert">O campo cep deve ter entre 8 digítos.</div>
                    </div>

                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Cidade</label>
                        <input type="text" formControlName="cidade" class="form-control" placeholder="Insira a cidade " required minlength="3" maxlength="30" [(ngModel)]="usuario.cidade " />
                        <div *ngIf="!cidade.valid && cidade.touched" class="alert alert-danger" role="alert">O campo cidade deve ter entre 3 e 60 caracteres.</div>
                    </div>



                    <div class="form-group  col-md-6">
                        <label>Estado</label>
                        <input type="text" formControlName="estado" class="form-control" placeholder="ex: SP, MG, RN... " required minlength="2" maxlength="2" [(ngModel)]="usuario.estado " />
                        <div *ngIf="!estado.valid && estado.touched" class="alert alert-danger" role="alert">O campo estado deve ter 2 digítos.</div>
                    </div>

                </div>




                <div class="form-group ">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Insira o email" required minlength="9" maxlength="100" [(ngModel)]="usuario.email " required email/>
                    <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">O campo email deve ter entre 9 e 100 caracteres.</div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="senha ">Senha</label>
                        <input type="password" formControlName="senha" class="form-control" name="senha" placeholder="Insira a senha " (input)='conferirSenha($event)' value={{senha}}/>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleCheck1 ">Confirme a senha</label>
                        <input type="password" name="senha" onfocus="this.value='' ; " formControlName="confirmaSenha" value="#confirmaSenha " class="form-control" placeholder="Confirme a senha " [(ngModel)]="usuario.senha " />
                    </div>

                </div>

                <div class=" d-flex justify-content-end ">
                    <button [disabled]="!formularioDeUsuario.valid" type=" submit " class="btn btn-outline  mb-2 " (click)="cadastrar() ">
                    Cadastrar
                </button>
                </div>


            </form>
        </div>
        <div class="col-md-3 "></div>
    </div>
</div>