<!-- Footer -->
<div id="Footer">

        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-center">

                <!-- Grid row -->
                <div class="row justify-content-md-center">

                    <!-- Grid column -->
                    <div id="footerDiv" class="col-md-2 mx-auto">

                        <ul class="list-unstyled list-inline text-center py-2 text-left">
                            <li class="list-inline-item ">
                                <h5 class="mb-1">CONHEÇA MAIS A FANCYBOX: </h5>
                            </li>
                            <li class="list-inline-item">
                                <a id="btBox" class="btn d-md-inline-block" href="cadastro.html"> Registre-se!</a>
                                <!-- <a href="#!" class="btn btn-danger btn-rounded">Registre-se!</a> -->
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->

                        <ul class="list-unstyled text-center">
                            <li>
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contatos</h5>
                            </li>
                            <li>
                                <p>@fancybox</p>
                            </li>
                            <li>
                                <p>0800 4002 8922</p>
                            </li>
                            <li>
                                <p>fancybox@outlook.com</p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>


            <!-- Social buttons -->

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-light">Siga-nos nas redes sociais</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">

                    <ul class="social-network">

                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="icoFacebook" title="Facebook">

                                <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>

                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="icoInstagram" title="Instagram">
                                <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.youtube.com/" target="_blank" class="icoYoutube" title="Youtube">
                                <fa-icon [icon]="faYoutube" class="faYoutube fa-3x p-3"></fa-icon>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Copyright -->

            
                    <div class="footer-copyright text-center py-3">© 2020 Copyright:
                        <a href="https://mdbootstrap.com/"> FancyBox</a>
                    </div>

            <!-- Copyright -->



        </footer>

</div>
<!--------------------------Fim Footer ---------------------------------------->