<div class="container-fluid shadow mx-auto bg-white text-dark text-center">


    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mt-4">
            <h5><b>INSTITUCIONAL</b> </h5>
            <ul class="list-unstyled text-center py-1 border:none ">

                <li>
                    <a routerLink="/sobre-nos">Quem somos</a>
                </li>

                <li>
                    <a routerLink="/termos-de-uso">Termo de uso</a>
                </li>

                <li>
                    <a routerLink="/politicas">Políticas</a>
                </li>

                <li>
                    <a>Marcas</a>
                </li>

                <li>
                    <a>Serviços</a>
                </li>

            </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mt-4">
            <h5><b>ATENDIMENTO</b></h5>
            <ul class="list-unstyled text-center py-1 border:none ">
                <li>
                    <!-- <i class="fa fa-phone mb-2 fa-fw"></i> -->
                    <a routerLink="/faq">Tire suas dúvidas</a>
                </li>
                <li>
                    <!-- <i class="fa fa-envelope fa-fw"></i>-->
                    <a>Trocas e devoluções</a>
                    <li>
                        <a routerLink="/contato">Onde estamos localizados</a>
                    </li>

                    <li>
                        <a href="mailto:fancybox@outlook.com">fancybox@outlook.com</a>
                    </li>

            </ul>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mt-4">
            <h5><b>CONHEÇA MAIS A FANCYBOX:</b></h5>
            <a id="btBox" class="btn d-md-inline-block mt-3" href="cadastro.html"> Registre-se!</a>
        </div>







        <div class="col-md-3 col-sm-6 col-xs-12 sm-mb-30 mt-4">
            <h5 class="pb-1"><b>SIGA-NOS NAS REDES SOCIAIS!</b></h5>
            <a target="_blank" href="https://www.facebook.com/">
                <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
            </a>

            <a target="_blank" href="https://www.instagram.com/">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
            </a>

            <a target="_blank" href="https://www.youtube.com/">
                <fa-icon [icon]="faYoutube" class="faYoutube fa-2x p-3"></fa-icon>
            </a>
        </div>


    </div>
    <div class="footer-copyright bg-white text-dark w-100 text-center py-3">&copy; 2020 Copyright: <a routerLink="/home"> FancyBox</a> </div>
</div>