/*-------------------------------- Inicio footer ------------------------------*/

body {
    font-family: 'Inter', sans-serif;
    /* background-image: linear-gradient(to right,rgb(252, 71, 110),rgb(238, 211, 215) ); */
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(114, 169, 241);
}
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
}

#btBox {
    background-color: rgb(114, 169, 241);
    color: white;
    margin-right: 10px;
}

#btBox:hover {
    cursor: pointer;
    transform: translateY(-2px);
    /*Cor esmaecida*/
    background-color: rgb(167, 199, 240);
    transition: ease-in-out color .15s;
    color: white;
    text-decoration: none;
}

/*------------------------- Fim footer --------------------------------*/


/* footer social icons */

.faFacebook,
.faYoutube,
.faInstagram {
    color: black;
}

.faFacebook:hover {
    color: #3b5998;
}

.faYoutube:hover {
    color: #b61919;
}

.faInstagram:hover {
    color: #C13584;
}

/*------------------------- Fim footer social icons --------------------------------*/