<div class="container">
<div class="footer w-100 bg-white text-dark text-center">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 sm-mb-30 mt-4">
                <h5 class="pb-1">SIGA-NOS NAS REDES SOCIAIS!</h5>
                <a target="_blank" href="https://www.facebook.com/">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
                </a>

                <a target="_blank" href="https://www.instagram.com/">
                    <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                </a>

                <a target="_blank" href="https://www.youtube.com/">
                    <fa-icon [icon]="faYoutube" class="faYoutube fa-2x p-3"></fa-icon>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mt-4">
                <h5>CONTATO</h5>
                <ul class="list-unstyled text-center py-1 border:none ">
                    <li>
                        <i class="fa fa-phone mb-2 fa-fw"></i> 0800 4002 8922
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i> fancybox@outlook.com
                    </li>
                </ul>
            </div>


            <div class="col-md-4 col-sm-6 col-xs-12 md-mb-30 sm-mb-30 mt-4">
                <h5>CONHEÇA MAIS A FANCYBOX:</h5>
                <a id="btBox" class="btn d-md-inline-block mt-3" href="cadastro.html"> Registre-se!</a>
            </div>
        </div>
        <div class="footer-copyright bg-white text-dark w-100 text-center py-3">&copy; 2020 Copyright: <a href="https://mdbootstrap.com/"> FancyBox</a> </div>
    </div>
    
</div>

