hr {
  background-color:  rgb(228, 108, 108);
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

.imagens-card{
  width: 200px;
  height: 200px;
}

.head{
    text-align: center;
    background: rgb(228, 108, 108);
    color: white;
    border: none;
    padding: 12px;
    display: block;
}

.filter-bar{
    list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-bar, li, a{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: white;
    padding: 11px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center; 
    border-radius: 1mm;  
}

.filter-bar, li, a:hover:not(.header) {
    background-color: rgba(228, 108, 108, 0.299);
    color: black;
    border: 1px solid #ddd;
  }
  li{
    background-color: white;
    border: none;
  }
