<div class="container-fluid my-5">
    <div id="backgroundSobre">
        <section class="container mx-auto ">

            <h2 class="pt-5 pb-2 text-black d-flex justify-content-center ">Sobre o projeto</h2>

            <hr class="d-flex mx-auto col-md-3 py-1 " />

            <p class="py-5 ">A <b>Fancybox</b> foi criada com o objetivo de facilitar o dia a dia da mulher. Diminuindo o tempo gasto com a ida a locais físicos para comprar produtos de higiene pessoal periodicamente. A disponibilização de compra agendada de produtos
                em que a cliente pode escolher todos os produtos preferidos e marcar uma data para recebê-los, para que mulheres não sejam pegas de surpresa por não conseguir encontrar os produtos desejados no primeiro local em que forem procurar.
            </p>


            <div class="col-12 d-flex justify-content-around py-5">

                <div class="card border-0 mr-5 " style="width: 18rem; ">
                    <img src="../../assets/img/missao (1).png " class="card-img-top " alt="Imagem de um alvo ">
                    <div class="card-body ">
                        <h5 class="card-title text-center py-2 ">Missão</h5>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-0 mr-5" style="width: 18rem; ">
                    <img src="../../assets/img/valores.png " class="card-img-top " alt="Imagem de um olho ">
                    <div class="card-body ">
                        <h5 class="card-title py-2 text-center">Valores</h5>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card border-0" style="width: 18rem; ">
                    <img src="../../assets/img/visao.png " class="card-img-top " alt="Imagem de uma mão com um coração ">
                    <div class="card-body ">
                        <h5 class="card-title py-2 text-center">Visão</h5>
                        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>



<!-----------------------------------inicio Integrantes -------------------------------->



<div class="container-fluid my-5">

    <h2 class="pt-5 pb-2 text-black d-flex justify-content-center ">Nossa equipe</h2>
    <hr class="d-flex mx-auto col-md-2 py-1 " />

    <div class="row align-items-center mt-5" data-aos="zoom-in-left">


        <div class="col-md-4 d-flex justify-content-center">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src=" ../../assets/img/rafa.jpg " class="imgSobre" alt="... ">

                    </div>

                    <div class="flip-card-back">
                        <h5 class="pt-5">Rafaela Oliveira</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50">Linkdln</a></li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>


        <div class="col-md-6 ">
            <h4 class="font-weight-bold">Rafaela Oliveira</h4>
            <p>Amante de artes marciais. Formada em Fisioterapia, atualmente foca seus estudos na área de tecnologia, vissando seu crescimento pessoal e profissional.
            </p>
        </div>

        <div class="col-md-2"></div>
    </div>



    <div class="row align-items-center my-5" data-aos="zoom-in-left">

        <div class="col-md-2 "></div>

        <div class="col-md-6 ">
            <h4 class="font-weight-bold">Alexsander Cordeiro</h4>
            <p>Amante da tecnologia desde a adolescência, minha curiosidade me faz buscar cada vez mais o conhecimento.
            </p>
        </div>

        <div class="col-md-4 d-flex justify-content-center ">
            <div class="flip-card ">
                <div class="flip-card-inner ">

                    <div class="flip-card-front ">
                        <img src="../../assets/img/alex.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5 ">Alexsander Cordeiro</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row align-items-center my-5 " data-aos="zoom-in-left">


        <div class="col-md-4 d-flex justify-content-center ">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="../../assets/img/jeff.jpg" class=" imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5 ">Jeferson Pereira</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>




        <div class="col-md-6 ">
            <h4 class="font-weight-bold">Jeferson Pereira</h4>
            <p>Estudante de Análise e desenvolvimento de sistemas. Apaixonado por música e pela cidade de São Paulo... Curioso e criativo.
            </p>
        </div>

        <div class="col-md-2 "></div>
    </div>


    <div class="row align-items-center my-5 " data-aos="zoom-in-left">


        <div class="col-md-2"></div>

        <div class="col-md-6 ">
            <h4 class="font-weight-bold">Ivan Carlota</h4>
            <p>Entusiasta em tecnologias web, apaixonado por lógica de programação e tecnologias backend.
            </p>
        </div>

        <div class="col-md-4 d-flex justify-content-center ">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="../../assets/img/ivan.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5 ">Ivan Carlota</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>



    </div>



    <div class="row align-items-center my-5 " data-aos="zoom-in-left">



        <div class="col-md-4 d-flex justify-content-center ">
            <div class="flip-card ">
                <div class="flip-card-inner ">

                    <div class="flip-card-front ">
                        <img src="../../assets/img/junior.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5 ">José Junior</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6 ">
            <h4 class="font-weight-bold">José Junior</h4>
            <p>Ex atleta de Vôlei, basquete e corrida. Encontrou na tecnologia um novo obetivo de vida</p>
        </div>

        <div class="col-md-2 "></div>
    </div>

</div>
<!------------------------------- FIM Integrantes --------------------------------->