<div class="container-fluid my-2">
    
    <div id="backgroundSobre">
        
        <section class="container mx-auto ">

            <h2 class="pt-5 pb-2 text-black d-flex justify-content-center ">Sobre o projeto</h2>
            

            <hr class="mx-auto col-9 col-md-4 col-lg-3 py-1">
            
            
            <p class="py-5 p-3">A <b>Fancybox</b> foi criada em 2020 com o objetivo facilitar o dia a dia da      mulher. 
              Após o ínicio da pandemia de COVID-19, se tornou ainda mais importante receber produtos essenciais em casa com segurança, diminuindo o tempo gasto com a ida a locais físicos para comprar produtos de higiene pessoal periodicamente. Desta forma a cliente pode escolher os produtos preferidos e marcar uma data para recebê-los, para que não sejam pegas de surpresa e tenham sempre os produtos desejados a disposição.
            </p>

           
            <div class="row d-flex justify-content-around py-5">
                     
                <div class="col-8 col-md-3 mx-auto card border-0 " style="width: 18rem; ">
                    <img src="../../assets/img/missao (1).png " class="img-fluid " alt="Imagem de um alvo ">
                    <div class="card-body ">
                    <h5 class="card-title text-center py-2 ">Missão</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        
                <div class="col-8 col-md-3  mx-auto card border-0" style="width: 18rem; ">
                    <img src="../../assets/img/valores.png " class="img-fluid " alt="Imagem de um olho ">
                    <div class="card-body ">
                    <h5 class="card-title py-2 text-center">Valores</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
        
                <div class="col-8 col-md-3 mx-auto card border-0" style="width: 18rem; ">
                    <img src="../../assets/img/visao.png " class="img-fluid " alt="Imagem de uma mão com um coração ">
                    <div class="card-body ">
                    <h5 class="card-title py-2 text-center">Visão</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div> 

            </div>

            <h2 class="pt-5 pb-2 text-black d-flex justify-content-center ">Nossa equipe</h2>
            <hr class="mx-auto col-9 col-md-4 col-lg-3 py-1 mb-5">
            <!----------------------------- Inici do desktop------------------------------->
            <div class="desktop">
            <div class="row align-items-center d-flex justify-content-between my-5  mt-5"data-aos="zoom-in-left">

                <div class="col-md-4" >
                    <div class="flip-card">
                        <div class="flip-card-inner">
    
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/JeXtG1w.jpg" class="imgSobre" alt="... ">
                            </div>
    
                            <div class="flip-card-back">
                                <h5 class="pt-5">Rafaela Oliveira</h5>
    
                                <ul>
                                    <li><a class="btn btn-dark mt-3 w-50">GitHub</a></li>
                                    <li><a class="btn btn-primary mt-2 w-50">Linkdln</a></li>
                                </ul>
    
                            </div>
    
                        </div>
                    </div>
        
                </div>

                <div class="col-md-6 col-lg-8 ">
                    <h4 class="font-weight-bold">Rafaela Oliveira</h4>
                    <p>Amante de artes marciais. Formada em Fisioterapia, atualmente foca seus estudos na área de tecnologia, visando seu crescimento pessoal e profissional.
                    </p>
                </div>
    
            
            </div>  
    
            <div class="row align-items-center d-flex justify-content-between my-5"data-aos="zoom-in-right">
    
           
    
                <div class="col-md-6 col-lg-8  ">
                    <h4 class="font-weight-bold">Alexsander Cordeiro</h4>
                    <p>Amante da tecnologia desde a adolescência, minha curiosidade me faz buscar cada vez mais o conhecimento.
                    </p>
                </div>
    
                <div class="col-md-4 d-flex justify-content-end">
                    <div class="flip-card">
                        <div class="flip-card-inner ">
        
                            <div class="flip-card-front ">
                                <img src="../../assets/img/alex.jpg " class="imgSobre " alt="... ">  
                            </div>
        
                            <div class="flip-card-back ">
                                <h5 class="pt-5 ">Alexsander Cordeiro</h5>
        
                                <ul>
                                    <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                                    <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                                </ul>
        
                            </div>
        
                        </div>
        
                    </div>
        
                </div>
    
            </div>

            
            <div class="row align-items-center d-flex justify-content-between my-5 "data-aos="zoom-in-left">
    
    
                <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
        
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/sX2sYzG.jpg" class=" imgSobre " alt="... ">  
                            </div>
        
                            <div class="flip-card-back ">
                                <h5 class="pt-5 ">Jeferson Pereira</h5>
                                <ul>
                                    <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                                    <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                                </ul>
        
                            </div>
        
                        </div>
        
                    </div>
        
                </div>
    
                <div class="col-md-6 col-lg-8">
                    <h4 class="font-weight-bold">Jeferson Pereira</h4>
                    <p>Estudante de Análise e desenvolvimento de sistemas. Apaixonado por música e pela cidade de São Paulo... Curioso e criativo.
                    </p>
                </div>
                
            </div>
    
    
            <div class="row align-items-center d-flex justify-content-between" data-aos="zoom-in-right">
                   
        
                <div class="col-md-6 col-lg-8 ">
                    <h4 class="font-weight-bold">Ivan Carlota</h4>
                    <p>Entusiasta em tecnologias web, apaixonado por lógica de programação e tecnologias backend.
                    </p>
                </div>
        
                <div class="col-md-4">
                    <div class="flip-card d-flex justify-content-end">
                        <div class="flip-card-inner">
        
                            <div class="flip-card-front">
                                <img src="https://i.imgur.com/iDkMdPT.jpg " class="imgSobre " alt="... ">
        
                            </div>
        
                            <div class="flip-card-back ">
                                <h5 class="pt-5 ">Ivan Carlota</h5>
        
                                <ul>
                                    <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                                    <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                                </ul>
        
                            </div>
        
                        </div>
        
                    </div>
        
                </div>  
    
            </div>  
    
    
        <div class="row align-items-center d-flex justify-content-between my-5 "data-aos="zoom-in-left" >
    

            <div class="col-md-4">
                <div class="flip-card ">
                    <div class="flip-card-inner ">
    
                        <div class="flip-card-front ">
                            <img src="https://i.imgur.com/tlgTdxa.jpg " class="imgSobre " alt="... ">
    
                        </div>
    
                        <div class="flip-card-back ">
                            <h5 class="pt-5 ">José Junior</h5>
    
                            <ul>
                                <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                                <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                            </ul>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
            <div class="col-md-6 col-lg-8">
                <h4 class="font-weight-bold">José Junior</h4>
                <p>Ex atleta de Vôlei, basquete e corrida. Encontrou na tecnologia um novo objetivo de vida</p>
            </div>    
        </div>
        </div>
            <!-------------------------------------COMEÇO DO MOBILE------------------------------->
        <div class="mobile ">
        <div class="row align-items-center my-5 " data-aos="zoom-in-right"> 

            <div class="col-md-4 d-flex justify-content-center mt-5 mb-5" >
                <div class="flip-card">
                    <div class="flip-card-inner">

                        <div class="flip-card-front">
                            <img src="https://i.imgur.com/JeXtG1w.jpg" class="imgSobre" alt="... ">
                        </div>

                        <div class="flip-card-back">
                            <h5 class="pt-5 mt-2">Rafaela Oliveira</h5>

                            <ul>
                                <li><a class="btn btn-dark mt-3 w-50">GitHub</a></li>
                                <li><a class="btn btn-primary mt-2 w-50">Linkdln</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
    
            </div>

        <div class="col-md-4 ">
            <h4 class="font-weight-bold text-center mt-2">Rafaela Oliveira</h4>
            <p class="text-center p-2 mt-2">Amante de artes marciais. Formada em Fisioterapia, atualmente foca seus estudos na área de tecnologia, visando seu crescimento pessoal e profissional.
            </p>
        </div>

        
    </div>  

    <div class="row align-items-center  my-5"data-aos="zoom-in-right">

        <div class="col-md-4 mt-5 mb-5 ">
            <div class="flip-card d-flex justify-content-center">
                <div class="flip-card-inner ">

                    <div class="flip-card-front">
                        <img src="../../assets/img/alex.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5">Alexsander Cordeiro</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4  ">
            <h4 class="font-weight-bold text-center mt-2 ">Alexsander Cordeiro</h4>
            <p class="text-center p-2 mt-2">Amante da tecnologia desde a adolescência, minha curiosidade me faz buscar cada vez mais o conhecimento.
            </p>
        </div>

       

    </div>

    <div class="row align-items-center my-5 "data-aos="zoom-in-right">


        <div class="col-md-4 d-flex justify-content-center mt-5 mb-5">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/sX2sYzG.jpg" class=" imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5  ">Jeferson Pereira</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>




        <div class="col-md-4 ">
            <h4 class="font-weight-bold text-center mt-2">Jeferson Pereira</h4>
            <p class="text-center p-2 mt-2">Estudante de Análise e desenvolvimento de sistemas. Apaixonado por música e pela cidade de São Paulo... Curioso e criativo.
            </p>
        </div>

        
    </div>


    <div class="row my-5 align-items-center" data-aos="zoom-in-right">

        <div class="col-md-4 d-flex justify-content-center mt-5 mb-5 ">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="https://i.imgur.com/iDkMdPT.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back ">
                        <h5 class="pt-5 ">Ivan Carlota</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>
        

        <div class="col-md-4">
            <h4 class="font-weight-bold text-center mt-2 ">Ivan Carlota</h4>
            
                <p class="text-center p-2 mt-2">Entusiasta em tecnologias web, apaixonado por lógica de programação e tecnologias backend.
                </p>
            
        
        </div>

   



    </div>



    <div class="row align-items-center  my-5"data-aos="zoom-in-right" >



        <div class="col-md-4 d-flex justify-content-center mt-5 mb-5">
            <div class="flip-card ">
                <div class="flip-card-inner ">

                    <div class="flip-card-front ">
                        <img src="https://i.imgur.com/tlgTdxa.jpg " class="imgSobre " alt="... ">

                    </div>

                    <div class="flip-card-back mt-2">
                        <h5 class="pt-5 ">José Junior</h5>

                        <ul>
                            <li><a class="btn btn-dark mt-3 w-50 ">GitHub</a></li>
                            <li><a class="btn btn-primary mt-2 w-50 ">Linkdln</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4  ">
            <h4 class="font-weight-bold text-center mt-2">José Junior</h4>
            <p class="text-center p-2 mt-2">Ex atleta de Vôlei, basquete e corrida. Encontrou na tecnologia um novo objetivo de vida</p>
        </div>

    </div> 
    
    </div>
        </section>
                
    </div>
            
</div>