<div class="container-fluid w-100">
    <section class="container-projeto">
        <h2 class="pt-5 pb-2 text-monospace text-black d-flex justify-content-center">Sobre o projeto</h2>
        <hr class="d-flex mx-auto col-md-2 py-1"/>

        <p class="mx-5 py-5">A <b>Fancybox</b> foi criada com o objetivo de facilitar o dia a dia da mulher. Diminuindo o tempo gasto com a ida a locais físicos para comprar produtos de higiene pessoal periodicamente. A disponibilização de compra agendada de produtos em que
            a cliente pode escolher todos os produtos preferidos e marcar uma data para recebê-los, para que mulheres não sejam pegas de surpresa por não conseguir encontrar os produtos desejados no primeiro local em que forem procurar.
        </p>
    </section>

    <div class="row row-cols-3 d-flex justify-content-center py-5">
        <div class="card border-0 mr-3" style="width: 18rem;">
            <img src="../../assets/img/missão.jpeg"class="card-img-top" alt="Imagem de um alvo">
            <div class="card-body">
                <h5 class="card-title py-2 d-flex justify-content-center">Missão</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card border-0 mr-3" style="width: 18rem;">
            <img src="../../assets/img/missão.jpeg" class="card-img-top" alt="Imagem de uma mão com um coração">
            <div class="card-body">
                <h5 class="card-title py-2 d-flex justify-content-center">Visão</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card border-0" style="width: 18rem;">
            <img src= "../../assets/img/valores.jpeg" class= "card-img-top" alt="Imagem de um olho">
            <div class="card-body">
                <h5 class="card-title py-2 d-flex justify-content-center">Valores</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    
    </div>

    <!-----------------------------------inicio Integrantes -------------------------------->

    <h1 class="text-monospace font-weight-bolder d-flex justify-content-center pt-6 pb-3">
        Sobre Nós
        </h1>
    <hr class="d-flex mx-auto col-md-3 py-1"/>

<div class=" row row-cols-3 d-flex justify-content-center py-5">
    <div class="card mr-3 shadow bg-white rounded" style="width: 18rem;">
        <img src="../../assets/img/rafa.jpg" class="card-img-top" id= "imgSobre"  alt="...">
        <div class="card-body py-1 px-1 text-center">
          <h5 class="card-title py-1">Rafaela</h5>
          <p class="text-black-50 mb-1 mt-1">Desenvolvedor Full Stack Java Jr</p>
          <p class="card-text mb-2">Amante de artes marciais. Formada em Fisioterapia, atualmente foca seus estudos na área de tecnologia, vissando seu crescimento pessoal e profissional.</p>
          <a href="#" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="card mr-3 shadow bg-white rounded" style="width: 18rem;">
          <img src="../../assets/img/Screenshot_2015-11-25-20-22-11-1.png" class="card-img-top"  id= "imgSobre" alt="...">
          <div class="card-body py-1 px-1 text-center">
            <h5 class="card-title py-1">Jeferson</h5>
              <p class="text-black-50 mb-1 mt-1">Desenvolvedor Full Stack Java Jr</p>
              <p class="card-text mb-2">Estudante de Análise e desenvolvimento de sistemas. Apaixonado por música e pela cidade de São Paulo... Curioso e criativo.
                  <br>
                  <br>
              </p>
          <a href="#" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
        </div>
      </div>
      <div class="card shadow bg-white rounded" style="width: 18rem;">
        <img src="../../assets/img/ivan.jpg" class="card-img-top" id= "imgSobre"  alt="...">
        <div class="card-body py-1 px-1 text-center">
            <h5 class="card-title py-1">Ivan</h5>
            <p class="text-black-50 mb-1 mt-1">Desenvolvedor Full Stack Java Jr</p>
            <p class="card-text mb-2">Entusiasta em tecnologias web, apaixonado por lógica de programação e tecnologias backend.....................................................................</p>
          <a href="#" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class=" row row-cols-2 d-flex justify-content-center mt-5 mb-5">
        <div class="card mr-3 shadow mb-5 bg-white rounded" style="width: 18rem;">
            <img src="../../assets/img/alex.jpg" class="card-img-top" id= "imgSobre"  alt="...">
            <div class="card-body py-1 px-1 text-center">
                <h5 class="card-title py-1">Alex</h5>
                <p class="text-black-50 mb-1 mt-1">Desenvolvedor Full Stack Java Jr</p>
                <p class="card-text mb-2">Amante da tecnologia desde a adolescência, minha curiosidade me faz buscar cada vez mais o conhecimento.</p>
                <a href="#" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
            </div>
          </div>
          <div class="card mr-3 shadow mb-5 bg-white rounded d-flex justify-content-center" style="width: 18rem;">
            <img src="../../assets/img/junior.jpg" class="card-img-top" id= "imgSobre" alt="...">
            <div class="card-body py-1 px-1 text-center">
                <h5 class="card-title py-1">Junior</h5>
                <p class="text-black-50 mb-1 mt-1">Desenvolvedor Full Stack Java Jr</p>
                <p class="card-text mb-2">Ex atleta de Vôlei, basquete e corrida. Encontrou na tecnologia um novo obetivo de vida.................................................
                </p>
                <a href="#" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
            </div>
          </div>
        </div>
</div>
<!------------------------------- FIM Integrantes --------------------------------->