<div class="container-fluid  bg-white shadow">
    <nav class="navbar navbar-expand-lg navbar-light ">

        
        <img id="logo" class="btn navbar-brand col-lg-2 col-md-3 col-sm-4 " src="https://i.imgur.com/YYATN5x.png" routerLink="/home" alt="Logo Fancybox">

        <img id="logo2" class="btn navbar-brand col-lg-2 col-md-3 col-sm-4" src="https://i.imgur.com/YYATN5x.png" routerLink="/home" alt="Logo Fancybox">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse row navbar-collapse" id="navbarNav">

            <ul class="navbar-nav textoNav col-md-6 " style="font-size: large;">

                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/sobre-nos">Sobre</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/contato">Contato</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/produtos">Produtos</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/doacao">Doe</a>
                </li>

            </ul>

            <ul class="navbar-nav textoNav col-md-6 d-flex justify-content-end">

                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item">
                        <a class="nav-link btn" id="btBox" routerLink="/cadastrar-usuarios">MONTE SUA BOX</a>
                    </li>
                </div>


                <div *ngIf='auth.btnSair()'>
                    <li class="nav-item">
                        <a class="nav-link btn" id="btBox" routerLink="/produtos">MONTE SUA BOX</a>
                    </li>
                </div>
                <div class="dropdown" *ngIf='auth.btnSair()'>
                    <a class="nav-link dropdown-toggle text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nome}}
                </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item  " (click)="sair()">Sair</a>
                    </div>
                </div>

                <div class="d-flex align-items-center ">
                    <a>
                        <fa-icon [icon]="faShoppingCart" class="fa-1x px-2" aria-disabled="true" data-toggle="modal" data-target="#carrinho-modal" (click)="exibirCarrinho()"></fa-icon>
                    </a>
                </div>


                <div *ngIf='auth.btnLogin()'>
                    <li class="nav-item">
                        <a class="nav-link  " aria-disabled="true" data-toggle="modal" data-target="#exampleModal" (click)="exibirLogin()">Entrar</a>
                    </li>
                </div>


            </ul>

        </div>

    </nav>


</div>
<div *ngIf="mostrarCarrinho">
    <app-carrinho></app-carrinho>
</div>
<div *ngIf="mostrarLogin">
    <app-login></app-login>
</div>

<!-- ---------------------------- FIM NAVBAR------------------------------------ -->