<div class="container-fluid mx-0 bg-white shadow">
    <nav class="navbar navbar-expand-lg navbar-light ">

        <img class="navbar-brand col-md-2 ml-2 mr-3 pl-5" src="https://i.imgur.com/YYATN5x.png" routerLink="/home" alt="Logo Fancybox">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse row navbar-collapse" id="navbarNav">

            <ul class="navbar-nav col-md-8 textoNav" style="font-size: large;">

                <li class="nav-item ml-4 mr-4">
                    <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/sobre-nos">Sobre</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/contato">Contato</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/produtos">Produtos</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" routerLink="/doacao">Doe</a>
                </li>

            </ul>


            <div class="col-md-4">
                <ul class="navbar-nav textoNav ">
                    <li class="nav-item">
                        <a class="nav-link btn" id="btBox" href="#">MONTE SUA BOX</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link "aria-disabled="true"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="exibirLogin()">Login</a>
                       

                    </li>
                </ul>
            </div>
        </div>



    </nav>


</div>

<div *ngIf="mostrarLogin">
    <app-login></app-login>
</div>










<!-- ---------------------------- FIM NAVBAR------------------------------------ -->