<div class="container-fluid carrinho">
   

  
  <div class=" modal fade " id="carrinho-modal" tabindex="-1" role="dialog" aria-labelledby="carrinho-modal" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content" >
        <div class="modal-header">
            <h5>Carrinho de Compras</h5>
            <button type="button" class="close mr-2 btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>
        <div class="modal-body " style="overflow: auto">
            <div class="card">
                <div class="row  mt-2 mr-2">
                  <div class="col-4">
                    <img src="https://i.imgur.com/1MtfaZS.jpg" class="img-fluid" alt="...">
                  </div>
                  <div class="col-8">
                        <div class="row d-flex justify-content-around">
                            <div class="col-8">
                                <p class="card-text  descricao">Absorvente Com abas blablabla.</p>
                            </div>                           
                            <div class="col-4 border-o">
                                <input type="number" placeholder="1" class="w-100 text-center">
                            </div>
                            
                        </div> 
                        
                        <div class="row d-flex justify-content-around">
                            <div class="col-6">
                                <p class="card-text">R$7,90</p>
                            </div>
                            <div class="col-6">
                                <p class="card-text text-right">Excluir</p>
                            </div>                               
                        </div>
                  </div>
                </div>

                <div class="row  mt-2 mr-2">
                    <div class="col-4">
                      <img src="https://i.imgur.com/HGHrvqr.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-8">
                          <div class="row d-flex justify-content-around">
                              <div class="col-8">
                                  <p class="card-text  descricao">Absorvente Com abas blablabla.</p>
                              </div>
                             
                              <div class="col-4 border-o">
                                  <input type="number" placeholder="1" class="w-100 text-center">
                              </div>
                              
                          </div> 
                              <div class="row d-flex justify-content-around">
                                  <div class="col-6">
                                      <p class="card-text">R$7,90</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="card-text text-right">Excluir</p>
                                  </div>   
                              </div> 
                    </div>
                  </div>

                  <div class="row  mt-2 mr-2">
                    <div class="col-4">
                      <img src="https://i.imgur.com/HGHrvqr.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-8">
                          <div class="row d-flex justify-content-around">
                              <div class="col-8">
                                  <p class="card-text  descricao">Absorvente Com abas blablabla.</p>
                              </div>
                             
                              <div class="col-4 border-o">
                                  <input type="number" placeholder="1" class="w-100 text-center">
                              </div>
                              
                          </div> 
                              <div class="row d-flex justify-content-around">
                                  <div class="col-6">
                                      <p class="card-text">R$7,90</p>
                                  </div>
                                  <div class="col-6">
                                      <p class="card-text text-right">Excluir</p>
                                  </div>   
                              </div> 
                    </div>
                  </div>

                  <div class="row  mt-2 mr-2">
                    <div class="col-4">
                      <img src="https://i.imgur.com/1MtfaZS.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-8">
                          <div class="row d-flex justify-content-around">
                              <div class="col-8">
                                  <p class="card-text  descricao">Absorvente Com abas blablabla.</p>
                              </div>                           
                              <div class="col-4 border-o">
                                  <input type="number" placeholder="1" class="w-100 text-center">
                              </div>
                              
                          </div> 
                          
                          <div class="row d-flex justify-content-around">
                              <div class="col-6">
                                  <p class="card-text">R$7,90</p>
                              </div>
                              <div class="col-6">
                                  <p class="card-text text-right">Excluir</p>
                              </div>                               
                          </div>
                    </div>
                  </div>
  
             

                 

            </div>

          
  
        
      </div>
      <div class="row mt-3">
        <div class="col text-left ml-3"><p>Total:</p></div> 
        <div class="col text-right mr-3"><p>R$192,00</p></div> 
     </div>
    <div class="row d-flex justify-content-center mb-2 mt-2 footer">
        <button class=" btn btn-lg btn-finalizar w-75">Finalizar Box</button>
    </div>
    </div>
  </div>
</div>