.scrollspySite{
    position: relative;
    overflow: auto;
    height: 580px;
}

button {
color: #000;
}

hr {
    background-color: #DEF481;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

#nav,#nav1,.mobile,.web{
    margin: 0;
    padding: 0;
   
}
@media (max-width: 423px) {
    .web {
        display: none
    }

}

@media (min-width: 424px) {
    .mobile {
        display: none
    }
}