<div class="container-fluid">

    <div class="row">
        <div class="col-12 text-center my-5">
            <h2>Termos de Uso</h2>
            <hr class="d-flex mx-auto col-md-3 py-1 " />
        </div>
    </div>

    <div class="row mb-5">

        <div class="col-4 justify-content-start">
            <nav id="navbarvertical" class="navbar navbar-light bg-light">
                <nav class="nav nav-pills flex-column-wrap"> 

                    <button type="button" class="btn btn-link"  [ngxScrollTo]="'#item1'">1- Definições</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item2'">2- Obtenção dos dados e informações</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item3'">3- Cadastro dos usuário no Portal</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item4'">4 – Comunicação da FANCYBOX com os usuários</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item5'">5 – Privacidade dos usuários no Portal FANCYBOX</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item6'">6 - Obrigações do Portal</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item7'">7 – Obrigações do usuário</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item8'">8 - Direitos de propriedade intelectual do Portal</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item9'">9 – Loja Virtual FANCYBOX</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item10'">10 – Comentários e Conteúdos de Usuários no Portal</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item11'">11- Canal de Denúncia</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item12'">12 – Atendimento ao usuário FANCYBOX</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item13'">13 – Modificações destes Termos e Condições</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item14'">14 – Disposições Gerais</button>
                    <button type="button" class="btn btn-link" [ngxScrollTo]="'#item15'">15 – Lei aplicável e Jurisdição</button>

                </nav>
            </nav> 
        </div>


        <div class="col-8">
            <div data-spy="scroll" data-target="#navbarvertical" data-offset="0" class="scrollspySite">

                <div class="mr-2 text-justify">
         
                     <p>
                         FANCYBOX COMÉRCIO DE PRODUTOS DE BELEZA LTDA., pessoa jurídica de direito privado, estabelecida na xxxxx
                         xxxxxx xxxxxxx xxxxxx,nº xxxxx, na cidade de São Paulo, Estado de São Paulo, inscrita no CNPJ/MF sob nº
                         xx.xxx.xxx/xxx-xx, doravante denominada simplesmente “FANCYBOX”, apresenta aqui os “Termos de Uso e
                         Condições de Navegação” no Portal de Internet www.fancybox.com.br ("PORTAL").
                     </p>
                     <p>
                         O presente TERMO DE USO tem como finalidade informar as responsabilidades, deveres e obrigações dos usuários
                         ao acessar e/ou utilizar o PORTAL, suas funcionalidades ou serviços relacionados. Os TERMOS DE USO tambémsão
                         aplicáveis para os seguintes endereços eletrônicos: fancybox.com.br, fancybox.com,fancybag.com.br,
                         fancybag.com. e lojafancy.com.br bem como suas variações para dispositivos móveis.
                     </p>
             
                     <p>
                        <strong id="item1">1 – Definições</strong> 
                     </p>
                     
                     <p>
                         1.1. Este Portal é dedicado aos interessados em realizar aquisição de cosméticos e produtos debeleza em
                         geral ou serviços e de realizar uma interação com o Portal, através das funcionalidades oferecidas.
                     </p>
                     
                     <p> 
                         1.2. Algumas das funcionalidades do Portal ou a possibilidade de aquisição de produtos ou serviços estarão
                         disponíveis apenas aos usuários cadastrados, que realizem o acesso à área restrita do Portal, mediante
                         identificação de login e senha,sendo vedado o acesso por intermédio de qualquer outro site, mesmo que
                         proporcione aprimoramentos de navegação.
                     </p>
                     
                     <p>
                         1.3. Não é permitido aos usuários acessarem as áreas de programação do Portal, seu banco de dados ou
                     qualquer outro conjunto de informações que faça parte da atividade de Webmastering, ficando sujeito quemo
                     fizer à legislação penal brasileira e obrigado a reparar os danos que causar.
                     </p>
                     
                     <p>
                         1.4. Também não é autorizado realizar ou permitir engenharia reversa, nem traduzir, decompilar,copiar,
                     modificar, reproduzir, alugar, sublicenciar, publicar, divulgar,transmitir, emprestar, distribuir ou, de
                     outra maneira, dispor das ferramentas de consulta deste Portal e de suas funcionalidades.
                     </p>
                     
                     <p>
                         1.5. Neste Portal é proibida a utilização, de aplicativos spider,ou de mineração de dados, de qualquer tipo
                     ou espécie, além de outro aqui não tipificado, mas que atue como um robô, tanto para realizar operações
                     massificadas ou para quaisquer outras finalidades, sob aplicação da legislação penal brasileira e de reparar
                     os danos que decorrerem desta utilização.
                     </p>
                     
         
                     <p>
                         1.5.1. O Portal foi desenvolvido a fim de possibilitar a aquisição dos produtos FANCYBOX e de marcas
                     diversas,comercializados por fabricantes e distribuidores com os quais a FANCYBOX tenha firmado acordos
                     comerciais previamente, e de utilização de suas funcionalidades, sendo vedado qualquer outro uso do Portal
                     que não sejam estes.
                     </p>
         
                     <p>
                         1.6. O Portal não fornece acesso à Internet a quem tiver interesse de navegar em seu espaço,sendo ônus
                     destes possuírem meios próprios para navegação.
                     </p>
         
                     <p>
                        <strong id="item2">2 – Obtenção dos dados e informações</strong> 
                     </p>
         
                     <p>
                         2.1. Este Portal é apresentado ao público da web na maneira como está disponível, podendo passar por
                     constantes aprimoramentos e atualizações, não ficando obrigada a FANCYBOX a manter uma estrutura ou layout,
                     se não por sua própria conveniência. Ainda, FANCYBOX poderá suspender ou cancelar, a seu exclusivo critério,
                     a qualquer tempo, quaisquer dos serviços, produtos ou funcionalidades disponibilizadas no Portal.
                     </p>
         
                     <p>
                         2.2. A FANCYBOX envida seus esforços para a disponibilidade contínua e permanente do Portal, ficando
                     sujeita, todavia a eventos extraordinários, como desastres naturais, falhas ou colapsos nos sistemas
                     centrais de comunicação e acesso à internet ou fatos de terceiro, que fogem de sua esfera de vigilância e
                     responsabilidade.
                     </p>
         
                     <p>
                         2.3. A FANCYBOX não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento dos usuários
                     causado por falhas no sistema, no servidor ou na conexão à Internet, ainda que decorrentes de condutas de
                     terceiros, inclusive por ações de softwares maliciosos como vírus, cavalos de tróia, e outros que possam, de
                     algum modo, danificar o equipamento ou a conexão dos usuários em decorrência do acesso, utilização ou
                     navegação no Portal, bem como a transferência de dados,arquivos, imagens, textos, áudios ou vídeos contidos
                     no mesmo.
                     </p>
         
                     <p>
                         2.4. Os usuários não possuem qualquer direito para exigir a disponibilidade do Portal conforme melhor lhes
                     convêm, tampouco poderão pleitear indenização ou reparação de danos em caso deste Portal permanecer fora do
                     ar, independente da motivação.
                     </p>
         
                     <p>
                         2.5. A FANCYBOX não detém qualquer responsabilidade pela navegação dos usuários nos links externos contidos
                     no Portal, sendo o dever deles a leitura dos Termos de Uso e Política de Privacidade do site acessado e agir
                     conforme o determinado. Caso sobrevier algum dano e/ou prejuízo, estes serão os principais responsáveis, uma
                     vez que a navegação segura cabe aos mesmos, a FANCYBOX apenas apontou o link cabendo ao interessado a
                     visita, ou não, ao site.
                     </p>
         
                     <p>
                         2.6. Os dados de logine senha do usuário são personalíssimos e não são passíveis de cessão,venda ou ainda
                     qualquer outra modalidade de transferência de direitos de usopara quem quer que seja.
                     </p>
         
                     <p>
                         2.7. A FANCYBOX poderá, a seu exclusivo critério e conveniência, excluir ou suspender aconta de acesso de
                     determinado usuário de seu Portal, em virtude de suspeita deinexatidão de informações ou prática criminosa
                     de algum ato. Essa faculdade nãoexime o usuário de fornecer sempre os dados verdadeiros e praticar condutas
                     emharmonia com o propósito de existência do Portal e de seu cadastro nele.
                     </p>
         
                     <p>
                        <strong id="item3">3 – Cadastro dos usuário no Portal</strong> 
                     </p>
         
                     <p>
                         3.1. Se desejar utilizar suas funcionalidades exclusivas ou realizar uma compra, o usuário deverá efetuar
                     cadastro no Portal, fornecendo seus dados pessoais conforme requisitado e adotando uma senha forte para sua
                     identificação e autenticação sendo criada,ao fim do procedimento, uma conta de acesso.
                     </p>
         
                     <p>
                         3.1.1. Quando o usuário realiza o cadastro no Portal deve fornecer somente informações fiéis e verdadeiras,
                     se comprometendo a partir de então, a manter seus dados sempre atualizados, sob pena de responder civil e
                     criminalmente além de arcar com os danos ocasionados pela utilização dedados incorretos, ou de terceiros,
                     independentemente da existência de culpa.
                     </p>
         
                     <p>3.1.2. Os dados que poderão ser requeridos pelo Portal FANCYBOX para cadastro de Pessoa Física são:</p>
         
                     <ul class="list-unstyled border:none">
                         <li>Nome Completo</li>
                         <li>Como Gostaria de Ser Chamado</li>
                         <li>Data de Nascimento</li>
                         <li>Sexo</li>
                         <li>E-mail</li>
                         <li>Telefone</li>
                         <li>Celular</li>
                         <li>Endereço Completo</li>
                         <li>Bairro</li>
                         <li>Cidade</li>
                         <li>Estado</li>
                         <li>CEP</li>
                         
                     </ul>
                      
                     <p>
                         Referência para Entrega
                     </p>
         
                     <p>
                         3.1.3. Caso o usuário esteja interessado nos serviços de indicação de produto baseado no seu perfil de
                     beleza denominado PERFIL FANCY serão solicitados os seguintes dados adicionais:
                     </p>
         
         
                     <ul class="list-unstyled border:none">
                         <li>Cor dos Olhos</li>
                         <li>Cor da Pele</li>
                         <li>Tipo de Pele</li>
                         <li>Tipo de Cabelo</li>
                         <li>Estilo</li>    
                     </ul>
         
                     <p>
                         3.1.4. Para o cadastro de empresas para compras vinculadas a um CNPJ os dados requeridos para o cadastro
                     são:
                     </p>
         
         
                     <ul class="list-unstyled border:none">
                         <li>CNPJ</li>
                         <li>Razão Social</li>
                         <li>Nome Fantasia</li>
                         <li>Inscrição Estadual</li>
                         <li>Inscrição Municipal</li>
                         <li>Área de Atuação</li>
                         <li>Número de Funcionários</li>
                         <li>Endereço Completo</li>
                         <li>Número</li>
                         <li>Complemento</li>
                         <li>Bairro</li>
                         <li>Cidade</li>
                         <li>Estado</li>
                         <li>CEP</li>
          
                     </ul>
         
                     <p>
                         Referência para Entrega
                     </p>
         
                     <ul class="list-unstyled border:none">
         
                         <li>Nome Completo do Representante</li>
                         <li>CPF do Representante</li>
                         <li>RG do Representante</li>
                         <li>Data de Nascimento</li>
                         <li>Sexo</li>
                         <li>Celular</li>
                         <li>Telefone</li>
                         <li>E-mail</li>
                     </ul>
         
                     <p>
                         3.2. O cadastro no Portal é gratuito e pode ser realizado por pessoas físicas maiores de 18 anos,somente.
                     </p>
         
                     <p>
                         3.3. Quando o cadastro no Portal for de uma empresa, seu Representante deverá ser uma pessoa física maior de
                     18 anos.
                     </p>
         
                     <p>
                         3.4. Ao acessar o Portal, como também ao efetuar seu cadastro, o usuário declara ter pleno conhecimento
                     deste documento e, de igual forma, da Política de Privacidade,disponíveis no rodapé do Portal, pois a
                     alegação de desconhecimento não o eximirá de eventuais responsabilidades durante a utilização do Portal.
                     </p>
         
                     <p>
                         3.4. Sempre que entender conveniente, o usuário poderá alterar sua senha e alguns dos dados deseu cadastro
                     através de recurso próprio do Portal.
                     </p>
         
                     <p>
                         3.5. Ao usuário não há necessidade de preenchimento integral de todos os dados, contudo o acesso acertas
                     funcionalidades dependem de informações específicas, marcadas eapontadas na própria página de cadastro e de
                     acordo com sua navegação.
                     </p>
         
                     <p>
                        <strong id="item4">4 – Comunicação da FANCYBOX com os usuários</strong> 
                     </p>
         
                     <p>
                         4.1. A FANCYBOX utilizará como principal canal de comunicação com seus usuários o e-mail fornecido em seu
                     cadastro para enviar comunicados de confirmação de suas operações e solicitações no Portal,ou até mesmo para
                     fornecer algum dado específico, como a resposta para requisição de senha esquecida.
                     </p>
         
                     <p>
                         4.1.1. Ao realizar o cadastro no site, o usuário desde já concorda com o envio e recebimento de e-mails da
                     FANCYBOX e das empresas do mesmo Grupo Econômico.
                     </p>
         
                     <p>
                         4.1.2. A responsabilidade pelo recebimento dos comunicados é exclusiva do usuário, por isso é indispensável
                     que sempre forneça os dados corretos e precisos à FANCYBOX, e os mantenha atualizados.
                     </p>
         
                     <p>
                         4.1.3. É igualmente de responsabilidade do usuário deixar os sistemas de anti-spam configurados de modo que
                     não interfiram no recebimento dos comunicados e materiais da FANCYBOX, não sendo aceitável nenhuma
                     justificativa caso não tenha tido acesso a algum e-mail ou comunicado em virtude desse bloqueio ou filtro
                     similar.
                     </p>
         
                     <p>
                        <strong id="item5">5 – Privacidade dos usuários no Portal FANCYBOX</strong> 
                     </p>
         
                     <p>
                         5.1. A FANCYBOX possui documento próprio, denominado “Política de Privacidade”, que regula o tratamento dado
                     as informações de cadastro e demais informações e dados coletados neste Portal.
                     </p>
         
                     <p>
                         5.2. A Política de Privacidade é parte integrante e inseparável dos TERMOS DE USO deste Portal, ese encontra
                     no rodapé do Portal.
                     </p>
         
                     <p>
                         5.3. Caso alguma disposição da Política de Privacidade conflitar com qualquer outra do presente documento,
                     deverá prevalecer o descrito na norma mais específica.
                     </p>
         
                     <p>
                        <strong id="item6">6 - Obrigações do Portal</strong> 
                     </p>
         
                     <p>
                         6.1. A FANCYBOX se obriga com os usuários a:
                     </p>
         
                     <p>
                         6.1.1. Manter o ambiente virtual seguro, salvo po rato destrutivo de terceiro que vá além dos esforços
                     empenhados, hipótese que não se responsabilizará por danos oriundos dessa prática danosa.
                     </p>
         
                     <p>
                         6.1.2. Preservar a funcionalidade do Portal, com links não quebrados, utilizando layout que respeita a
                     usabilidade e navegabilidade, as facilitando sempre que possível.
                     </p>
         
                     <p>
                         6.1.3. Exibir as demais funcionalidades do Portal de maneira clara, completa, precisa e suficiente de modo
                     que exista a exata percepção das operações realizadas pelo usuário.
                     </p>
         
                     <p>
                        <strong id="item7">7 – Obrigações do usuário</strong> 
                     </p>
         
                     <p>
                         7.1. Os usuários se obrigam a realizar uma navegação com retidão ética, sempre respeitando ascondições e
                     normas que regem a utilização do Portal.
                     </p>
         
                     <p>
                         7.2. Os usuários deverão cuidar do sigilo e segurança de seu login e senha, poisestas informações da conta
                     de acesso determinam a sua identidade digital,imputando-lhe a autoria de todos os atos praticados em seu
                     nome, ainda que seja por terceiro que tenha conhecimento desses dados.
                     </p>
         
                     <p>
                         7.3. Caso ocorra algum incidente com os dados de login e senha, como furto,extravio, perda ou ainda de
                     suspeita de quebra de sigilo empregado aos mesmos,o usuário cadastrado deve alterar sua senha e comunicar de
                     imediato a FANCYBOX, para evitar a ocorrência de danos de difícil reparação.
                     </p>
         
                     <p>
                         7.4. Todo usuário que possuir conta de acesso neste Portal se obriga a manter seus dados cadastrais sempre
                     atualizados, sob pena de responder civil e criminalmente pelos danos decorrentes da imprecisão e inexatidão
                     das informações armazenadas.
                     </p>
         
                     <p>
                         7.5. Ao fornecer dados e informações à FANCYBOX, o usuário se obrigam a fazê-lo sempre com compromisso de
                     veracidade e autenticidade, sob pena de aplicação das penas da lei, de indenizar a quem causar dano e de ter
                     a conta de acesso do Portal excluída.
                     </p>
         
                     <p>
                         7.6. Na incidência de danos ao Portal ou a terceiros, o responsável se compromete a arcar com todas as
                     obrigações de indenizar o sujeito lesado, não devendo FANCYBOX responder por tais prejuízos.
                     </p>
         
                     <p>
                         7.7. O usuário deve utilizar os recursos do Portal para a finalidade que foi constituída, sob pena de
                     aplicação das penas da lei, de indenizar a quem causar dano e de ter a conta de acesso do presente Portal
                     excluída.
                     </p>
         
                     <p>
                        <strong id="item8">8 - Direitos de propriedade intelectual do Portal</strong> 
                     </p>
         
                     <p>
                         8.1. O uso comercial da expressão FANCYBOX ou suas variações como marca, nome empresarial ou nome de
                     domínio,além dos conteúdos das telas do Portal, assim como os programas, bancos dedados, redes, arquivos que
                     permitem que o usuário acesse sua conta são de propriedade da FANCYBOX e estão protegidos pelas leis e
                     tratados internacionais de propriedade intelectual (direito autoral, marcas, patentes e desenhos
                     industriais).
                     </p>
         
                     <p>
                         8.2. Ao acessar este Portal, o usuário declara que irá respeitar todos os direitos de propriedade
                     intelectual da FANCYBOX, bem como todos os direitos referentes a terceiros que porventura estejam, ou
                     estiveram, de alguma forma, disponíveis no Portal. O simples acesso ao Portal não confere aos usuários
                     qualquer direito ao uso dos nomes, títulos,palavras, frases, marcas, patentes, obras literárias, artísticas,
                     lítero-musicais, imagens, dados e informações, dentre outras, que nele estejam ou estiveram disponíveis.
                     </p>
         
                     <p>
                         8.3. A reprodução e/ou utilização, a que título for, de qualquer conteúdo do Portal é vedada.
                     </p>
         
                     <p>
                         8.4. É vedada a utilização do PORTAL para finalidades comerciais, publicitárias ou qualquer outra que
                     contrarie a realidade para o qual foi concebido, conforme definido neste documento. Restam igualmente
                     proibidas a reprodução, distribuição e divulgação, total ou parcial,dos textos, figuras, gráficos e/ou
                     qualquer outro conteúdo que compõem o presente Portal, sem prévia e expressa autorização da FANCYBOX, sendo
                     permitida somente a impressão de cópias para uso e arquivo pessoal, sem que sejam separadas as partes que
                     permitam dar o fiel e real entendimento de seu conteúdo e objetivo.
                     </p>
         
                     <p>
                         8.5. Os usuários assumem toda equalquer responsabilidade, de caráter civil e/ou criminal, pela
                     utilizaçãoindevida das informações, textos, gráficos, marcas, obras, imagens, enfim, detodo e qualquer
                     direito de propriedade intelectual deste Portal.
                     </p>
         
                     <p>
                         8.6. Qualquer utilização depropriedade intelectual em desconformidade com este Termo será considerada
                     comouma violação destes direitos e sujeita às sanções previstas na legislaçãocabível.
                     </p>
         
                     <p>
                         8.7. As fotos e imagens utilizadasneste Portal podem não refletir seu tamanho original ou situação atual
                     docenário reproduzido, sendo meramente ilustrativas.
                     </p>
         
                     <p>
                         8.8. Salvo disposição específica emcontrato existente entre o usuário e a FANCYBOX, os usuários cedem,
                     porprazo indeterminado, no Brasil e exterior os direitos autorais dos conteúdos enviadosaoPortal, inclusive
                     autorizam a sua reprodução, adaptação, modificação, tradução,publicação, distribuição ou exibição por
                     FANCYBOX no próprio Portal, ouem quaisquer outros meios, a seu exclusivo critério.
                     </p>
         
                     <p>
                         8.9. A eventual alteração e/ouretirada de qualquer conteúdo, anúncio, artigo, vídeo, notícia ou
                     fotografiareproduzido neste Portal, deverá ser sempre compreendida como uma meraliberalidade de FANCYBOX e,
                     jamais como reconhecimento de qualquerinfração a direito de terceiros.
                     </p>
         
                     <p>
                        <strong id="item9">9 – Loja Virtual FANCYBOX</strong> 
                     </p>
         
                     <p>
                         9.1. A FANCYBOX oferece a seususuários a possibilidade de aquisição de produtos ou serviços através de seu
                     Portal.
                     </p>
         
                     <p>
                         9.1.1. Para realizar as operações decompra o usuário deve estar devidamente autenticado no Portal, por meio
                     decadastro prévio.
                     </p>
         
                     <p>
                         9.1.2. Todas as compras, promoções oubenefícios ofertados no Portal deverão ser validados pelo Usuário no
                     carrinhode compras antes da finalização do pedido.
                     </p>
         
                     <p>
                         9.2. O usuário deverá fornecer asinformações requisitadas pelo sistema da Loja Virtual FANCYBOX
                     paraprosseguir no fluxo de compra de modo satisfatório.
                     </p>
         
                     <p>
                         9.3. Escolhidos os produtosdesejados, fixados os valores de frete, com base no endereço informado pelo
                     usuário,e eleito o meio de pagamento de sua preferência, o pedido será concluído eprocessado pelo sistema do
                     Portal FANCYBOX.
                     </p>
         
                     <p>
                         9.4. O Portal disponibiliza aousuário meio de rastreamento de seu pedido, para que acompanhe seu andamento.
                     </p>
         
                     <p>
                         9.4.1. O rastreamento é feito atravésdos sistemas dos parceiros logísticos da FANCYBOX e está sujeito
                     àindisponibilidade. A FANCYBOX não possui qualquer responsabilidade casoesse sistema esteja comprometido,
                     uma vez que não detém nenhuma gerência sobreele.
                     </p>
         
                     <p>
                         9.5. Detalhes adicionais sobre acompra, entrega, troca, devolução e outros procedimentos podem ser
                     acessadosnos documentos específicos no Portal FANCYBOX.
                     </p>
         
                     <p>
                        <strong id="item10">10 – Comentários e Conteúdos de Usuários no Portal</strong> 
                     </p>
         
                     <p>
                         10.1. Todos os conteúdos enviados pelousuário poderão ser excluídos por sua vontade a qualquer tempo.
                     </p>
         
                     <p>
                         10.1.1. FANCYBOX se reserva o direito de manter cópia sobre o material enviado para fins deauditoria e
                     preservação de direito de terceiros, quando solicitado.
                     </p>
         
                     <p>
                         10.2. O usuáriopode compartilhar suas informações de dados e conteúdos com os demais de acordocom suas
                     preferências de privacidade naquele ambiente.
                     </p>
         
                     <p>
                         10.3. O Portal FANCYBOX possibilita que ousuário expresse sua opinião a respeito de seus produtos, no
                     entanto devesempre preservar a ética, as condições que regem a utilização do Portal, aOrdem Pública e os
                     
                     bons costumes, sob as penas da lei e de exclusão da conta deacesso do Portal, sem prejuízo de eventual
                     remoção do conteúdo submetido queseja inadequado.
                     </p>
         
         
                     <p>
                         10.4. Todos os conteúdos enviados pelos usuáriosapenas expressam a opinião deles próprios, não devendo ser
                     inclinadas a FANCYBOX BOX, pois esta apenas oferece um espaço na internet para que osconteúdos sejam
                     compartilhados. Por isso, a FANCYBOX não seresponsabiliza pelo teor do conteúdo disponibilizado.
                     </p>
         
                     <p>
                         10.5. Todo o conteúdo publicado pelo usuáriono Portal será previamente validado por FANCYBOX, que poderá
                     remover, aqualquer momento, os comentários ou publicação dos usuários caso considere queo tom ou o assunto
                     seja impróprio ou inadequado, que viole este TERMO DE USO, alegislação ou qualquer direito de terceiros.
                     </p>
         
                     <p>
                        <strong id="item11">11- Canal de Denúncia</strong> 
                     </p>
         
                     <p>
                         11.1. O Portaldisponibilizará aos usuários, através da seção “Fale Conosco”, um canal paradenúncia, caso os
                     mesmos presenciem ou verifiquem conteúdo impróprio no site, como:
         
                     Ofensa à honra, imagem, reputação edignidade de terceiros;
                     Pornografia, pedofilia, e outrasmodalidades de satisfação sexual;
                     Racismo ou discriminação de qualquernatureza
                     Bullying,Stalking ou qualquer outra espécie deconstrangimento ilegal;
                     Manifesta violação a direito autoralou direito de imagem;
                     Utilização de marcas, símbolos,logomarcas ou emblemas de terceiros;
                     Instigação ou apologia à prática decrimes, como tráfico ou uso de entorpecentes, estupro, homicídio,
                     estelionato,dentre outros;
                     
                     Atividade comercial, promocional ou que sugira o exercício de atividade econômica.
                     </p>
         
         
                     <p>
                         11.1.1. O canal de denúncia será sigiloso epreservará a identidade do usuário.
                     </p>
         
                     <p>
                        <strong id="item12">12 – Atendimento ao usuário FANCYBOX</strong> 
                     </p>
         
                     <p>
                         12.1. A FANCYBOX disponibiliza canais para comunicação direta com os usuários:
         
                     através do telefone;
                     através do Portal, para enviaruma mensagem para a FANCYBOX, após efetuar seu cadastro no site, caso não
                     possua;
                     através de atendimento via e-mail;
                     </p>
         
                     <p>
                        <strong id="item13">13 – Modificações destes Termos e Condições</strong> 
                     </p>
         
                     <p>
                         13.1. Os presentes TERMOS DE USO estãosujeitos a constante melhoria e aprimoramento. Assim, a FANCYBOX
                     sereserva o direito de modificar a qualquer momento, de forma unilateral, opresente documento e sua Política
                     de Privacidade.
                     </p>
         
                     <p>
                         13.2. Ao navegar por este Portal, ousuário estará automaticamente de acordo com os TERMOS DE USO e “Política
                     de Privacidade” que se encontram vigentes na data , não sendo aceita qualqueralegação de desconhecimento
                     sobre quaisquer pontos.
                     </p>
         
                     <p>
                         13.3. O usuário se obriga a verificaros TERMOS DE USO e “Política de Privacidade” cada vez que visitar este
                     PORTAL,considerando que poderão ser atualizados ou modificados a qualquer tempo e semaviso prévio.
                     </p>
         
                     <p>
                        <strong id="item14">14 – Disposições Gerais</strong> 
                     </p>
         
                     <p>
                         14.1. A tolerância do eventualdescumprimento de quaisquer das cláusulas e condições dos TERMOS DE USO
                     nãoconstituirá novação das obrigações aqui estipuladas e tampouco impedirá ouinibirá a exigibilidade das
                     mesmas a qualquer tempo.
                     </p>
         
                     <p>
                         14.2. Este Portal tem como base ohorário oficial de Brasília.
                     </p>
         
                     <p>
                        <strong id="item15">15 – Lei aplicável e Jurisdição</strong> 
                     </p>
         
                     <p class="mb-5">
                         15.1. Os TERMOS DE USO são regidos pela legislação da República Federativa do Brasil. Seu textodeverá ser
                     interpretado no idioma português e ficando os usuários do Portalsubmetidos ao Foro Central da Comarca de São
                     Paulo, Estado de São Paulo paradirimir qualquer questão ou dúvida superveniente.
                     </p>
         
         
         
                 </div>

            </div>
        </div>

    </div>

</div>