<!-- Inicio do FAQ -->
<section class="container-lx border-0">
    <h2 class="font-weight-bolder d-flex justify-content-center mt-4">
        Perguntas frequentes
    </h2>

    <hr class="d-flex mx-auto col-md-2 py-1" />

    <div class="bs-example d-flex justify-content-center my-5">

        <div class="accordion" id="accordionExample">
            <div class="card">

                <div class="card-header fundoBranco text-center" id="headingOne" [ngClass]="{'fundoVerde': janelaAberta1 == false} ">

                    <h2 class="mb-0 ">
                        <button type="button" class="btn btn-link bt collapsed " data-toggle="collapse" data-target="#collapseOne" (click)="abrirJanela1()"> COMO FAÇO PARA ME CADASTRAR?<i class="fa fa-plus btn btn-link  bt" data-toggle="collapse" data-target="#collapseOne"></i></button>

                    </h2>

                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                    <div class="card-body">
                        <p> O cadastro é feito pela página de cadastros, onde se encontram as instruções de como prosseguir. <a routerLink="/cadastro" target="_blank">Clique aqui</a></p>
                    </div>
                </div>

            </div>

            <div class="card ">

                <div class="card-header fundoBranco " id="headingTwo" [ngClass]="{'fundoVerde': janelaAberta2 == true} ">
                    <h2 class="mb-0 text-center">
                        <button type="button" class="btn btn-link bt " data-toggle="collapse" data-target="#collapseTwo" (click)="abrirJanela2()">VOCÊS POSSUEM LOJA FISÍCA? <i class="fa fa-plus btn btn-link bt" data-toggle="collapse" data-target="#collapseTwo"></i></button>

                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p> Não, a nossa loja é um e-commerce, totalmente online e virtual.</p>
                    </div>
                </div>

            </div>

            <div class="card">

                <div class="card-header fundoBranco" id="headingThree" [ngClass]="{'fundoVerde': janelaAberta3 == true} ">

                    <h2 class="mb-0 text-center">
                        <button type="button" class="btn btn-link bt" data-toggle="collapse" data-target="#collapseThree" (click)="abrirJanela3()">
                            QUAL O PRAZO DE ENTREGA?  <i class="fa fa-plus btn btn-link  bt" data-toggle="collapse" data-target="#collapseThree"></i></button>

                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>O prazo é entre 2 a 3 dias úteis.</p>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-header fundoBranco " id=" headingFive" [ngClass]="{'fundoVerde': janelaAberta4 == true} ">

                    <h2 class="mb-0 text-center ">
                        <button type="button " class="btn btn-link bt " data-toggle="collapse " data-target="#collapseFive " (click)="abrirJanela4()">
                            VOCÊS COBRAM FRETE? <i class="fa fa-plus btn btn-link bt " data-toggle="collapse " data-target="#collapseFor "></i></button>

                    </h2>
                </div>

                <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample ">
                    <div class="card-body ">
                        <p> Sim, é cobrado uma pequena taxa dependendo do tipo de frete e da sua localização.</p>
                    </div>
                </div>
            </div>




        </div>
    </div>


</section>

<!-- 
        
               
            <div class="accordion pt-5 " id="accordionExample ">
         
           
            </div>
       
        <div class="card ">
            <div class=" faq card-header " id="headingFour ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseFour " aria-expanded="false " aria-controls="collapseFour ">
                        VOCÊS COBRAM FRETE?
                        
                    </button>
                </h2>
            </div>
            <div id="collapseFour " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Sim, há uma pequena taxa no frete para ajudar no custeamento
                </div>
            </div>
        </div>
        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseFive " aria-expanded="false " aria-controls="collapseFive ">
                        COMPRANDO HOJE, QUANDO RECEBEREI MEU PRODUTO?
                    </button>
                </h2>
            </div>
            <div id="collapseFive " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Na data agendada
                </div>
            </div>
        </div>
        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseSix " aria-expanded="false " aria-controls="collapseSix ">
                        POSSO CANCELAR UMA COMPRA?
                    </button>
                </h2>
            </div>
            <div id="collapseSix " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Sim, é possível cancelar uma compra, caso o produto ainda não tenha
                    sido entregue.
                    
                </div>
            </div>
        </div>
        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseSeven " aria-expanded="false " aria-controls="collapseSeven ">
                        O PEDIDO JA FOI ENTREGUE, POSSO TROCAR ALGUM PRODUTO?
                    </button>
                </h2>
            </div>
            <div id="collapseSeven " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Caso o produto não tenha sido aberto ou utilizado, podemos analisar
individualmente a viabilidade da troca.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseEight " aria-expanded="false " aria-controls="collapseEight ">
                        POSSO MONTAR MINHA BOX DA MANEIRA QUE EU QUISER?
                    </button>
                </h2>
            </div>
            <div id="collapseEight " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Sim, selecione o item desejado e coloque no seu carrinho e quando
finalizar a compra será colocado em uma box para entrega
                </div>
            </div>
        </div>
        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseNine " aria-expanded="false " aria-controls="collapseNine ">
                        CASO O PRODUTO SEJA EXTRAVIADO, QUEM SE RESPONSABILIZA?
                    </button>
                </h2>
            </div>
            <div id="collapseNine " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                     Caso isso aconteça a empresa se responsabiliza e manda outra box sem
                    taxas
                </div>
            </div>
        </div>

        <div class="card ">
            <div class=" faq card-header " id="headingTwo ">
                <h2 class="mb-0 ">
                    <button class="btn btn-link collapsed " type="button " data-toggle="collapse "
                        data-target="#collapseTen " aria-expanded="false " aria-controls="collapseTen ">
                         ALGO DEU ERRADO, O QUE FAZER?
                    </button>
                </h2>
            </div>
            <div id="collapseTen " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                <div class="card-body ">
                    Nesse caso basta mandar um ticket que iremos verificar o ocorrido, e em
caso de troca mantenha o produto lacrado, após aberto não será possível
realizarmos a troca.
                </div>
            </div>
        </div>

         </section> -->