.faq {
    background-color: rgba(0, 0, 0, 0.041);
}

.faq button {
    color: rgb(252, 71, 110);
}

hr {
    background-color: rgb(209, 59, 84);
}

.card {
    border: 0px;
    width: 35rem;
}

.accordion {
    background-color: white;
    border-bottom: none;
    box-shadow: none;
}