button {
    font-size: 18px;
}

.faq {
    background-color: rgba(0, 0, 0, 0.041);
}

hr {
    background-color: rgb(209, 59, 84);
}

.card {
    border: none;
    font-size: 17px;
}

.accordion {
    width: 40%;
}

.bt {
    text-decoration: none;
    color: rgb(228, 108, 108);
    /* font-size: 18px; */
}

.fundoBranco {
    background-color: white;
    box-shadow: none;
    border: none;
}

.fundoVerde {
    background-color: rgb(222, 244, 129);
}