.tamanhoCarousel {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tamanhoDepoimentos {
    height: 100vh;
}

.card-img-top {
    width: 230px;
    height: 210px;
}

.logo {
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax1 {
    background-image: url("https://i.imgur.com/hqFVqCy.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1Responsivo {
    background-image: url("https://i.imgur.com/1H82RuH.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("https://i.imgur.com/j4vgES9.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2Responsivo {
    background-image: url("https://i.imgur.com/ki83Cc5.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 856px) {
    .tamanho {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1041px) {
    .tamanhoCarousel {
        display: none;
    }

}

@media (max-width: 1048px) {
    .parallax1 {
        display: none;
    }
    .parallax2 {
        display: none;
    }
    .logo{
        display: none;
    }
}

@media (min-width: 1042px) {
    .carouselResponsivo {
        display: none;
    }
}

@media (min-width: 1049px) {
    .parallax1Responsivo{
        display: none;
    }
    .parallax2Responsivo {
        display: none;
    }
    .logoResponsivo{
        display: none;
    }
}
