<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner w-100">
            <div class="carousel-item active">
                <img class="tamanho d-flex w-100" src="https://i.imgur.com/bTvoCM6.png">
            </div>
            <div class="carousel-item">
                <img class="tamanho d-flex w-100" src="https://i.imgur.com/o640bSS.png">
            </div>
            <div class="carousel-item">
                <img class="tamanho d-flex w-100" src="/assets/img/home 2.png">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próxima</span>
        </a>
    </div>
    <div style="height: 1000px;">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure temporibus recusandae laudantium laboriosam dolorem harum obcaecati perferendis ipsa, eligendi quis dolores repellat impedit asperiores enim ipsam reiciendis, velit, veniam quo! Lorem ipsum
            dolor, sit amet consectetur adipisicing elit. Sit animi aliquam est quae modi, incidunt quos maiores corporis. Quisquam recusandae enim non nemo iusto rerum ex! Voluptatum maiores dignissimos non? Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Voluptatibus, a deserunt, iure nesciunt consequatur, blanditiis ipsum id vero voluptate quis reprehenderit. Odit optio quis adipisci pariatur quam laboriosam sed animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
            odio! Soluta quas sunt molestiae quos nemo! Aperiam tempora, amet voluptatum error illo fugiat, expedita dolorem architecto, fugit odit placeat atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus adipisci molestias nostrum
            obcaecati consequatur molestiae doloribus, doloremque dolor dicta tempora! Aut expedita quisquam maxime fugit, iusto officiis eum nam ut. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam nobis facilis, dolorem laudantium pariatur
            modi dicta velit consequuntur cum quod voluptatibus ducimus ab aliquid nulla, similique explicabo impedit at fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam tenetur sequi perferendis quae porro voluptatem vel eos, odio
            expedita, voluptas blanditiis corporis autem repellendus cupiditate recusandae nostrum. Repellat, laudantium illo.
        </p>
    </div>
</div>