 hr{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
hr{
    background-color: #E46C6C;
}
button{
    color: white;
   background-color:rgba(228, 108, 108, 0.904);
   border: 1px solid bisque;
}

button:hover{

   background-color: rgb(114, 169 ,241);
}
#formulario{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fluid{
    background-image: linear-gradient( to right, rgba(114, 169 ,241, 0.434) 25%, rgba(210, 226, 118, 0.434), rgba(228, 108, 108, 0.434) );
}
