<section class="container-fluid">

    <div class="container">

        <h2 class="pt-5 pb-2 text-black text-center ">Faça sua doação</h2>
        <hr class="mx-auto col-9 col-md-4 col-lg-3">
        <hr class="mx-auto col-9 col-md-4 col-lg-3">
        <hr class="mx-auto col-9 col-md-4 col-lg-3">

    </div>
    <div class="row py-5 p-3">

        <div class="col-12 col-lg-7">

            <div class="row d-flex justify-content-center ">

                <div class="col-10 col-md-6 col-lg-8  py-5 shadow mb-5 " id="formulario">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Instituições</label>

                        <select class="custom-select">
                            <option selected>Selecione a instituição</option>
                            <option value="1" *ngFor="let ong of listaOng">{{ong.nome}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Valor</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Digite o valor">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu email">
                    </div>

        

                    <div class=" d-flex justify-content-end">
                        <button type=" submit " class="btn  mt-2  mr-2"><a aria-disabled="true" data-toggle="modal" data-target="#exampleModal" (click)="mensagem()">Enviar Email </a>
                        </button>
                      
                    </div>


                </div>

            </div>

            <div class="alert alert-info" role="alert" data-toggle="modal" data-target="#exampleModal" *ngIf="alerta == true">

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Obrigadx pela doação!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                O boleto foi enviado para seu email.
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-5 mb-5 mt-5">
            <div class="d-flex justify-content-around mb-5">
                <img src="https://i.imgur.com/DwDAMm6.png" class="img-fluid  rounded-circle w-25 h-25" alt="Hope-logo">
                <img src="https://i.imgur.com/AezT3vM.png" class="img-fluid  rounded-circle w-25" alt="Proud-logo">
            </div>

            <div class="d-flex justify-content-around mb-5">

            </div>

            <div class="d-flex justify-content-around mb-5 mt-5">
                <img src="https://i.imgur.com/ZCal7JC.png" class="img-fluid  rounded-circle w-25" alt="Corredoras-logo">
                <img src="https://i.imgur.com/dreqe4t.png" class="img-fluid  rounded-circle w-25" alt="Freedom-logo">
            </div>


        </div>
    </div>
</section>
<div *ngIf="mostrarLogin">
    <app-login></app-login>
</div>