<h2 class="text-monospace font-weight-bolder d-flex justify-content-center pt-5">
Fale conosco
</h2>
<hr class="d-flex mx-auto col-md-2 py-1"/>
<form class="col-md-9 mx-auto py-5">
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite o seu nome completo">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Assunto</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite o assunto">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Mensagem</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escreva sua mensagem" rows="3"></textarea>
  </div>
  <a href="#">
    <button type="button"class="btn btn-outline-dark w-100 shadow mb-5 rounded">Enviar</button>
  </a>
</form>