<div class="container-fluid">

    <div class="container mx-auto">
        <h2 class="pt-5 pb-2 text-black d-flex justify-content-center ">Fale conosco</h2>
        <hr class="mx-auto col-9 col-md-4 col-lg-3">
        <hr class="mx-auto col-9 col-md-4 col-lg-3">
        <hr class="mx-auto col-9 col-md-4 col-lg-3">
    </div>


    <div class="row py-5 p-3">

        <div class="col-md-1"></div>

        <section class="col-md-5 py-3 shadow mb-5" id="formulario">

            <form [formGroup]="formularioDeContato" (ngSubmit)="enviarDados()">

            <div class="form-group w-100">
                
                <label for="nome">Nome</label>
                <input type="text" name="nome" formControlName="nome" class="form-control" id="nome" placeholder="Digite o seu nome completo" required minlength="2" maxlength="50"  [(ngModel)]="contato.nome">
                <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">O campo nome deve ter entre 2 e 50 caracteres.</div>
            </div>

            <div class="form-group w-100">
                <label for="email">Email</label>
                <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com" required minlength="9" maxlength="100"[(ngModel)]="contato.email">
                <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">O campo email deve ter entre 9 e 100 caracteres.</div>
            </div>

            <div class="form-group w-100">
                <label for="assunto">Assunto</label>
                <input type="text" name="assunto" formControlName="assunto" class="form-control" id="assunto" placeholder="Digite o assunto" required required minlength="2" maxlength="50"[(ngModel)]="contato.assunto">
                <div *ngIf="!assunto.valid && assunto.touched" class="alert alert-danger" role="alert">O campo assunto deve ter entre 2 e 50 caracteres.</div>
            </div>

            <div class="form-group w-100">
                <label for="mensagem">Mensagem</label>
                <textarea class="form-control" id="mensagem" formControlName="mensagem" placeholder="Escreva sua mensagem" rows="3" name="mensagem" required required minlength="2" [(ngModel)]="contato.mensagem"></textarea>
                <div *ngIf="!mensagem.valid && mensagem.touched" class="alert alert-danger" role="alert">O campo mensagem deve ter pelo menos 2 caracteres.</div>
            </div>

            <div class=" d-flex justify-content-end">
                <button [disabled]="!formularioDeContato.valid" class="btn btn-outline w-25" (click)="enviarContato() ">Enviar

                </button>
            </div>
        </form>
        </section>

        <section class="col-md-5">

            <h4 class="text-center">Contato</h4>

            <div class="text-center my-3">
                <p>Local: Rua Tito, 54</p>
                <p>Telefone (11) 9999-9999</p>
                <p></p>

            </div>


            <div class=" d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.124145260985!2d-46.69399738590637!3d-23.528036884699436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8775663b04f%3A0x923835e9005f8309!2sSenac%20Lapa%20Tito!5e0!3m2!1spt-BR!2sbr!4v1589311553993!5m2!1spt-BR!2sbr"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </section>

        <div class="col-md-1"></div>
    </div>

</div>